@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    background:url("hangszerek.png") ;
    background-size: 300px;
}

h1 {
    font-family: "Great Vibes";
    font-size: 100px!!important;
    text-align: center!important;
}

.kiemel {
    font-weight: bold;
}

.barna { color: brown;}

.piros{ color: red;}

.kek { color: blue;}

.zold { color: green;}

.jel {
    text-align: center;
    font-size: 6em;
    margin: 0;
}

.kepalairas {
    font-style: italic;
    font-size:  12px;
    text-align: center;
    border: 1px solid black;
    border-radius: 6px;
}